.adm_title {
    margin-bottom: 2em;
}

/**** Estilização de USERS ****/
#user_tbody img {
    width: 120px;
    height: 75px;
}

@media (max-width: 1200px) {
    #user_tbody img {
        height: 55px;
    }
}

/**** Estilização de USERS_CART ****/
#tb_user_cart {
    padding: .8rem;
}

.img_adm {
    border: 1px solid rgba(0, 0, 0, 0.513);
    border-radius: 50%;
    padding: .05rem;
    box-shadow: 2px 2px 5px 0px black;
    width: 125px;
    height: 125px;
    object-fit: cover;
    object-position: 50% 100%;
}

#user_cart {
    padding-left: 10%;
}

#empty_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
}

#empty_cart {
    border-radius: 15px;
    box-shadow: 0 0 8px 2px rgb(255, 150, 0);
    display: inline-block;
    padding: 1.4rem;
    background-color: black;
    color: aliceblue;
}

.fa-triangle-exclamation {
    color: rgb(255, 200, 0);
    font-size: xx-large;
    margin-left: 15px;
}

/******* Footer do admin empurrando ele para baixo *******/
.body_admin {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_admin {
    flex: 1;
}

.admin_footer {
    align-self: flex-end;
    width: 100%;
}

/**** Estilizando o arquivo EVENTS_ADM ****/

#links_search_events {
    justify-content: space-around;
}

#events_adm_links {
    width: 65%;
}

.header_admin .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search_events_adm {
    width: 40%;
}

#tb_events_div {
    padding: 2rem;
}

#div_create,#div_edit_event {
    padding: 1rem;
}

.events_adm_Hs {
    margin-bottom: 25px;
}

