/** Geral **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
}

/*** Links ***/

a {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    color: black;
    
}

/***** Header e Navbar *****/
.header_container {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
}

.div_logo {
    width: 18%;
}

.div_logo .logo {
    width: 80%;

}

.sec_header nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_links {
    
}

.form_search {
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    background-color: white;
}

.form_search #search { 
    border: none;
    border-radius: 20px;
}

.form_search #search:focus { 
    box-shadow: none;
}

.form_search button {
    border: none;
    border-radius: 20px;
}

.icons {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_user {
    font-size: 150%;
}

/*** Cards Eventos no Home ***/
#wallpaper_div {
    width: 100%;
    height: 350px;
    background-image: url("../imagens/wallpaper3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#text_search {
    
}

#search_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_div {
    padding: 0;
    margin: 0;
}

#card_div_container {
    padding: .2rem;
}

.card {
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.div_img_index {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_card img {
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
}

/*** página do evento event.php ***/
#event_body, #event_header {
    position: relative;
    background-image: radial-gradient(circle, rgb(98, 0, 255), indigo);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#event_header a:hover {
    color: white;
}

#event_main section, #img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#event_container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1em;
}

#img_div {
    padding: .8rem;
}

#event_img {
    width: 40%;
}

#event_img img {
    border-radius: 10px;
}

#tickets_form {
    border-radius: 10px;
    border: 1px solid rgb(223, 223, 223);
    width: 30%;
    padding: .6rem;
}

#tickets_form:hover {
    box-shadow: 0 0 5px 3px rgb(0, 0, 255);
}

.div_tckts input {
    color: black;
}

/**** Área do login ****/
.section_login {
    border-radius: 20px;
    width: 50%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text_logo {
    align-self: flex-start;
    position: relative;
    /*left: 50px;*/
}

#link_login img {
    width: 160px;
}

.section_login form {
    border-radius: 20px;
    width: 85%;
    padding: 2rem;
}

.login_form input {
    border: none;
}

.login_form input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/**** Área do carrinho cart.php ****/
.alert_definition {
    display: none;
}

#div_alert {
    padding: .4rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#div_alert .alert {
    width: 50%;
}

.cart_item {
    margin: .8rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: .8rem;
    max-width: 95%;
}

.last_li {
    display: flex;
}

.div_price, .div_qtd {
    display: flex;
    flex-direction: column;
    margin: .2rem .8rem;
}

.div_price p {
    margin: 0;
    margin-bottom: .4rem;
}

.qtd_cart {
    border: none;
    padding: .4rem;
    border-radius: 8px;
    width: 65px;
}

.qtd_cart:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 4px 1px rgba(23, 148, 7, 0.5);
}

.qtd_cart::increment, .qtd_cart::decrement {
    appearance: none;
    border: none;
    background-color: green;
    color: blue;
    cursor: pointer;
    padding: .4rem;
}

/**** Área de contact page ****/
#contact_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_info {
    border: 1px solid red;
    flex-grow: 2;
    margin-right: 5px;
}

#contact_sct {
    border: 1px solid red;
    flex-grow: 2;
    margin-left: 5px;
}

#contact_form input,#description {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}

#alert_div_contact {
    position: absolute;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}


/**** Responsividade, diferentes tamanhos de telas ****/
@media (min-width: 992px) AND (max-width: 1315px) {
    /* Por enquanto nada para mudar */
    .div_logo {
        width: 30%;
    }
    
    .div_links {
        width: 45%;
    }

    .form_search {
        width: 45%;
        height: 45px;
    }
}

@media (min-width: 407px) AND (max-width: 992px){
    /* Mudando a página home/index.php */
    .icons {
        order: 2;
        position: relative;
        right: 15px;
        width: 45%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .div_logo {
        order: 1;
        position: relative;
        width: 45%;
    }

    .link_bar {
        width: 100%;
        order: 3;
        flex-direction: column;
        align-self: flex-end;
    }

    .div_links {
        order: 2;
        display: flex;
    }

    .link_bar ul {
        order: 0;
    }

    #search_index {
        margin-bottom: .6rem;
    }

    #wallpaper_div {
        height: 200px;
    }

    .div_img_index {
        height: 225px;
    }
}

@media (max-width: 915px) {
    /* Estilização da página de login */
    #section_login {
        width: 100%;
    }

    #section_login form {
        width: 95%;
    }

    #wallpaper_div {
        height: 150px;
    }

    /*** página do evento event.php ***/
    #tickets_form {
        width: 100%;
    }
}

@media (max-width: 406px) {
    /* Mudando a página home/index.php */
    .icons {
        order: 2;
        position: relative;
        right: 15px;
    }

    .div_logo {
        order: 1;
        position: relative;
    }

    .link_logo {
        position: absolute;
        width: 350%;
        top: -15px;
        left: -1px;
    }

    .link_bar {
        order: 3;
        flex-direction: column;
    }

    .div_links {
        order: 2;
        display: flex;
    }

    .link_bar ul {
        order: 0;
    }

    .btn_collpase {
        order: 1;
        border: none;
        align-self: flex-start;
        flex-grow: 1;
        transition: var(--bs-navbar-toggler-transition);
    }

    #search_index {
        order: 0;
        width: 100%;
        flex-grow: 4;
    }
}